# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Typically these are the build artifacts
*.spec
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments (virtualenv, venv, etc.)
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache/

# Pyre
.pyre/

# Pylint
.pylint.d/

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor directories and settings
.vscode/
.idea/
*.swp
*.swo
